.navbar_container {
    height: 70px;
    background-color: #090b13;
    display: flex;
    align-items: center;
    padding: 0 36px;
}

.logo {
    width: 80px;
}

.navMenu {
    display: flex;
    flex: 1;
    margin-left: 25px;
    align-items: center;
    justify-content: center;
}

.imgbar_link {
    display: flex;
    align-items: center;
    padding: 0 12px;
    cursor: pointer;
}

.imgbar {
    height: 20px;
}

.navbar_span {
    font-size: 13px;
    letter-spacing: 1.42px;
    position: relative;

    &::after {
        content: '';
        height: 2px;
        background-color: white;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -6px;
        opacity: 0;
        transform-origin: left center;
        transform: scaleX(0);
        transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    }

    &:hover::after {
        transform: scaleX(1);
        opacity: 1;
    }
}



.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
}

.user_login {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 8px 16px;
    letter-spacing: 1.5px;
    border: 1px solid #f9f9f9;
    border-radius: 4px;
    transition: all 0.2s ease 0s;
    color: #f9f9f9;
}

.user_login:hover {
    background-color: #f9f9f9;
    color: #000;
    border-color: transparent;
}

.login {
    text-decoration: none;
    color: #f9f9f9;
}

.login:hover {
    background-color: #f9f9f9;
    color: #000;
    border-color: transparent;
}

.user_login_container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.user_img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.dropdown {
    position: absolute;
    top: 48px;
    right: 0;
    background: rgb(19, 19, 19);
    border: 1px solid rgba(151, 151, 151, 0.34);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 20px 18px 0px;
    padding: 10px;
    font-size: 14px;
    letter-spacing: 3px;
    width: 100px;
    opacity: 0;
}

.signout {
    position: relative;
    height: 48px;
    width: 48px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    &:hover {
        .dropdown {
            opacity: 1;
            transition-duration: 1s;
            z-index: 1;
        }
    }
}